body {
	font-family: 'Lucida Sans Unicode', Tahoma, sans-serif;
	color: white;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.wrapper {
	margin: 0 auto;
	padding: 18px 45px 0 45px;
	width: 910px;
	background: #fff;
}

.phones {
	float: left;
	position: relative;
	padding-left: 32px;
	line-height: 30px;
	font-family: Arial;
	font-size: 18px;
	letter-spacing: 0.5px;
	color: #5e696d;
}

.phones:before {
	content: '';
	position: absolute;
	display: block;
	background: url(../img/phone.png) no-repeat;
	height: 22px;
	width: 22px;
	left: 7px;
	top: 4px;
}

.login {
	float: left;
	position: relative;
	margin: 0 17px 0 15px;
	padding-left: 25px;
	height: 24px;
	width: 470px;
	border-radius: 3px;
	font-size: 11px;
	background: #1e6383;
	background: -moz-linear-gradient(top, #1e6383 0%, #0c3357 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e6383), color-stop(100%,#0c3357));
	background: -webkit-linear-gradient(top, #1e6383 0%,#0c3357 100%);
	background: -o-linear-gradient(top, #1e6383 0%,#0c3357 100%);
	background: -ms-linear-gradient(top, #1e6383 0%,#0c3357 100%);
	background: linear-gradient(to bottom, #1e6383 0%,#0c3357 100%);
	-webkit-box-shadow: 2px 1px 2px 1px rgba(78,100,122,1);
	-moz-box-shadow: 2px 1px 2px 1px rgba(78,100,122,1);
	box-shadow: 2px 1px 2px 1px rgba(78,100,122,1);
}

.login:before {
	content: '';
	position: absolute;
	display: block;
	background: url(../img/login.png) no-repeat;
	height: 18px;
	width: 14px;
	left: 7px;
	top: 4px;
}

.login form,
.login a {
	float: left;
}


.login input[placeholder] {
	padding-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	height: 14px;
	width: 109px;
	border: none;
	font-size: 11px;
}

.login input[type="submit"] {
	padding: 0;
	margin-left: 2px;
	border: none;
	background: none;
	color: white;
	font-size: 11px;
}

.login a {
	display: block;
	position: relative;
	line-height: 25px;
	text-decoration: none;
	color: white;
	font-size: 12px;
}

.login input[type="submit"]:hover,
.login a:hover {
	text-decoration: underline;
	color: #bfbfbf;
}

.login .reg {
	letter-spacing: -0.9px;
	margin: 0 22px 0 11px;
}

.login .reg:before {
	content: '';
	position: absolute;
	display: block;
	background: white no-repeat;
	height: 10px;
	width: 1px;
	left: -5px;
	top: 8px;
}

.nav li {
	float: left;
	margin: 4px 4px;
}

.nav {
	float: left;
	padding-left: 5px;
	line-height: 0; 
	height: 20px;
	width:70px;
	border: 1px solid #bdc4c7;
	border-radius: 10px;
	-webkit-box-shadow: 1px 2px 3px 1px rgba(188,195,196,1);
	-moz-box-shadow: 1px 2px 3px 1px rgba(188,195,196,1);
	box-shadow: 1px 2px 3px 1px rgba(188,195,196,1);
}

.banner {
	margin: 6px auto;
	height: 237px;
	width: 910px;
	background: url(../img/banner.jpg);
}

nav ul {
	height: 34px;
	border-radius: 5px;
	background: #505860;
	background: -moz-linear-gradient(top, #505860 6%, #2d3236 25%, #010101 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#505860), color-stop(25%,#2d3236), color-stop(100%,#010101));
	background: -webkit-linear-gradient(top, #505860 6%,#2d3236 25%,#010101 100%);
	background: -o-linear-gradient(top, #505860 6%,#2d3236 25%,#010101 100%);
	background: -ms-linear-gradient(top, #505860 6%,#2d3236 25%,#010101 100%);
	background: linear-gradient(to bottom, #505860 6%,#2d3236 25%,#010101 100%);
	-webkit-box-shadow: 1px 2px 3px 1px rgba(188,195,196,1);
	-moz-box-shadow: 1px 2px 3px 1px rgba(188,195,196,1);
	box-shadow: 1px 2px 3px 1px rgba(188,195,196,1);
}

nav ul li {
	float: left;
	margin-top: 5px;
	line-height: 25px;
	font-size: 11px;
	color: #b1bcc0;
}

nav li:first-child {
	margin-left: 130px;
}

nav a {
	display: block;
	padding: 0 16px;
	text-decoration: none;
	font-size: 14px;
	color: #b1bcc0;
}

nav a:hover {
	border-radius: 10px;
	color: white;
	background: #1f6585;
	background: -moz-linear-gradient(top, #1f6585 0%, #0c3357 100%);
	background: -webkit-linear-gradient(top, #1f6585 0%,#0c3357 100%);
	background: linear-gradient(to bottom, #1f6585 0%,#0c3357 100%);
}
.selection {
    display: inline-block;
    margin-top: 12px;
    font-size: 0;
    text-align: center;
}

.by-car {
    float: left;
    box-sizing: border-box;
    margin: 0 0 0 4px;
    padding: 0 15px;
    width: 415px;
    height: 134px;
    background-color: #fff;
    border: 1px solid #9c9c9d;
    border-radius: 17px;
    box-shadow: 2.6px 4.3px 5px rgba(104, 104, 104, 0.75);
}

.blockname:before {
    float: left;
    margin: 2px 0 0 5px;
    content: 'Диски:';
    color: #154468;
    font-family: Arial,sans-serif;
    font-size: 10px;
    font-weight: 900;
    line-height: 17px;
}

.blockname {
    display: block;
    margin: 0 6px 0 0;
    color: #154467;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 900;
    line-height: 17px;
}

.blockname:after {
    float: right;
    content: 'Шины:';
    color: #154468;
    font-family: Arial,sans-serif;
    font-size: 10px;
    font-weight: 900;
    line-height: 17px;
}

label {
    display: inline-block;
    width: 79px;
    font-family: Arial,sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 10px;
    text-align: left;
    vertical-align: middle;
}

label span {
    color: #77858b;
}

select {
    margin-bottom: 5px;
    width: 101px;
    height: 17px;
    background-color: #fff;
    box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.75);
    vertical-align: middle;
}

select[name="year"] {
    width: 57px;
    margin-right: 44px;
}

.container {
    width: 180px;
    height: 85px;
}

.left {
    clear: both;
    float: left;
}

.right {
    float: right;
}

.start-search {
    display: block;
    clear: both;
    height: 18px;
    text-align: end;
    color: #154467;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
}

.tires {
    float: left;
    margin: 0 10px 0 14px;
    box-sizing: border-box;
    width: 193px;
    height: 137px;
    background-color: #fff;
    border: 1px solid #9c9c9d;
    border-radius: 17px;
    box-shadow: 2.6px 4.3px 5px rgba(150, 150, 150, 0.75);
}

.rims {
    float: left;
    box-sizing: border-box;
    width: 268px;
    height: 136px;
    background-color: #fff;
    border: 1px solid #9c9c9d;
    border-radius: 14px;
    box-shadow: 2.6px 4.3px 5px rgba(150, 150, 150, 0.75);
}

.tires, .rims {
    text-align: left;
    padding: 0 15px;

}

.tires .blockname:before,
.tires .blockname:after,
.rims .blockname:before,
.rims .blockname:after {
    content: '' ;
}

.tires label, .season {
    display: inline-block;
    width: 45px;
    color: #000;
    font-family: 'Lucida Sans Unicode',Tahoma,sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.tires select {
    width: 51px;
    height: 17px;
}

.separator {
    display: inline-block;
    margin: 0 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#radius {
    width: 45px;
}

label[for='radius'] {
    box-sizing: border-box;
    text-align: right;
    padding-right: 7px;
}

.tires input[type='checkbox']+label {
    height: 14px;
}
.tires input[type='checkbox'] {
    margin: 1px;
    width: 9px;
    height: 9px;
}

.rims .container-left {
    float: left;
    width: 60%;
    height: 100%;
    line-height: 100%;
}

.rims .container-right:before {
    float: left;
    content: '';
    width: 1px;
    height: 106px;
    background-color: #bdc6ca;
    margin-top: 3px;
    margin-right: 8px;
}

.rims .container-right {
    float: right;
    width: 36%;
    text-align: center;
}

select[name='diameter'],
select[name='fitting-hole-diameter'],
select[name='center-hole-diameter'],
select[name='et']{
    margin-bottom: 7px;
    width: 57px;
}

select[name='fitting-hole'] {
    margin-bottom: 14px;
    width: 51px;
}

.rims label {
    line-height: 8px;
}

.rims .container-right label:first-child {
    margin-top: 8px;
    height: 37px;
}

.rims .container-right label {
    width: 68px;
    height: 20px;
}


.calc {
	position: relative;
	margin-left: 67px;
	margin-top: 4px;
}

.calc:before {
	content: '';
	position: absolute;
	display: block;
	background: url(../img/cart.png) no-repeat;
	height: 17px;
	width: 21px;
	left: -28px;
	top: 4px;
}

nav span {
	color: #0d5a8f;
}

.sum {
	margin-left: 13px;
	margin-top: 4px;
}
.sum span {
	margin-left: 12px;
}

main {
	color: #114165;
	margin-top: 17px;
	font-size: 13px;
}

.catalog {
	float: left;
	width: 185px;
}

.cap:before {
	content: '';
	position: absolute;
	display: block;
	background: url(../img/fig.png) no-repeat;
	height: 22px;
	width: 22px;
	left: 1px;
	top: 0px;
}

.cap {
	position: relative;
	padding-left: 26px;
	margin-bottom: 13px;
	line-height: 25px;
	width: 154px;
	letter-spacing: -0.1px;
	border: 1px solid #949fa4;
	border-radius: 15px;
	-webkit-box-shadow: 1px 2px 3px 1px rgba(188,195,196,1);
	-moz-box-shadow: 1px 2px 3px 1px rgba(188,195,196,1);
	box-shadow: 1px 2px 3px 1px rgba(188,195,196,1);
}

.cap--1{
	margin-top: 2px;
}

.catalog p, .filter  p {
	position: relative;
	padding-top: 2px;
	padding-left: 30px;
	line-height: 24px;
	width: 120px;
	border: 1px solid #949fa4;
	border-radius: 15px;
	letter-spacing: 0.7px;
}

.catalog p:before, .filter p:before {
	content: '';
	position: absolute;
	display: block;
	background: url(../img/tag.png) no-repeat;
	height: 23px;
	width: 23px;
	left: 4px;
	top: 1px;
}

.p2 {
	margin-top: -5px;
}


.catalog a {
	position: relative;
	margin-left: 47px;
	line-height: 26px;
	text-decoration: none;
	letter-spacing: -0.2px;
	color: #114165;
}

.catalog a:before {
	content: '';
	position: absolute;
	display: block;
	background: url(../img/marker.png) no-repeat;
	height: 8px;
	width: 8px;
	left: -11px;
	top: 5px;
}

.catalog a:hover {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

.catalog a:hover:before {  
	content: '';
	position: absolute;
	display: block;
	background: url(../img/marker_hov.png) no-repeat;
	height: 8px;
	width: 8px;
	left: -10px;
	top: 4px;
}

.filter {
	float: right;
	width: 185px;
}

.cap--2 {
	padding-left: 32px;
	width: 150px;
	letter-spacing: 0.7px;
}

.cap--2:before {
	left: 4px;
	top:1px;
}

.filter  p {
	margin: 14px 0 3px 15px;
    padding-left: 31px;
	width: 104px;
	letter-spacing: 1px;

}

.filter .p3 {
	margin: 8px 0 5px 15px;
	letter-spacing: 0.6px;
}

.filter label {
	position: relative;
	padding-left: 25px;
	margin-left: 26px;
	line-height: 25px;
	letter-spacing: -0.3px;
}

.filter input[type="checkbox"] {
	display: none;
}

label:before {
	content: '';
	display: block;
	position: absolute;
	height: 11px;
	width: 11px;
	top: 3px;
	left: 0;
	background: url(../img/check.png);
}

input[type="checkbox"]:checked + label:before {
    background:url(../img/checked.png) top no-repeat;
}

.filter input[type="checkbox"] {
	-webkit-box-shadow: 0px 0px 1px 1px rgba(17,65,101,0.8);
	-moz-box-shadow: 0px 0px 1px 1px rgba(17,65,101,0.8);
	box-shadow: 0px 0px 1px 1px rgba(17,65,101,0.8);
}

.filter input[type="submit"] {
	margin-left: 26px;
	margin-top: 13px;
	width: 80px;
	height: 25px;
	border: none;
	border-radius: 10px;
	color: white;
	background: #1f6585;
	font-size: 12px;
	letter-spacing: -0.1px;
	background: -moz-linear-gradient(top, #1f6585 0%, #0c3357 100%);
	background: -webkit-linear-gradient(top, #1f6585 0%,#0c3357 100%);
	background: linear-gradient(to bottom, #1f6585 0%,#0c3357 100%);
	-webkit-box-shadow: 1px 2px 2px 2px rgba(188, 195, 198, 0.75);
	-moz-box-shadow:    1px 2px 2px 2px rgba(188, 195, 198, 0.75);
	box-shadow:         1px 2px 2px 2px rgba(188, 195, 198, 0.75);
}

.filter input[type="submit"]:hover {
	text-decoration: underline;
}

.products {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding: 14px 0 8px 7px;
	border-radius: 5px;
	width: 518px;
	background: #e4e7e8;
	background: -moz-linear-gradient(top, #e4e7e8 0%, #93a7b0 100%);
	background: -webkit-linear-gradient(top, #e4e7e8 0%,#93a7b0 100%);
	background: linear-gradient(to bottom, #e4e7e8 0%,#93a7b0 100%);
}

.tire {
	float: left;
	margin: 0 14px 23px;
	width: 140px;
	text-align: center;
}

.link {
	display: block;
	text-decoration: none;
	color: #114165;	
}

.brand_name {
	display: block;
	font-size: 15px;
}

.model {
	display: block;
	font-size: 13px;
	color: black;
	letter-spacing: -0.1px;
}

.prod_img {
	display: table-cell;
	vertical-align: middle;
	width: 138px;
	height: 128px;
	border: 1px solid  #949fa4;
	border-radius: 10px;
	background: white;
}

.price {
	display: inline-block;
	margin: 4px 2px 0 9px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
}

.currency {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
}

.products a:hover {
	background: rgba(45,113,142,0.1);
	border-radius: 10px;
	transition: 0.5s;	
}

.brands ul {
	margin: 43px 0 27px 111px;
}

.brands li {
	float: left;
	margin: 0 6px;
}

.brands li a {
	display: block;
	background-position: top center;
	height: 21px;
}

.toyo a {
	width: 83px;
	background: url(../img/toyo.png) no-repeat;
}
.bridgestone a{
	width: 97px;
	background: url(../img/bridge.png) no-repeat;
}
.continental a{
	width: 77px;
	background: url(../img/continental.png) no-repeat;
}
.cooper a{
	width: 59px;
	background: url(../img/cooper.png) no-repeat;
}
.avon a{
	width: 77px;
	background: url(../img/avon.png) no-repeat;
}
.tirefactory a{
	width: 57px;
	background: url(../img/tirefactory.png) no-repeat;
}
.dunlop a{
	width: 72px;
	background: url(../img/dunlop.png) no-repeat;
}
.pirelli a{
	width: 61px;
	background: url(../img/pirelli.png) no-repeat;
}

footer {
	padding-top: 12px;
	height: 100px;
	background: #213a4d;
	box-shadow: 0 0 0 1px #223346, 1px 0px 1px 1px #7e828c;
}

footer ul {
	display: flex;
	justify-content: center;
}

footer li {
	float: left;
}

footer li a {
	display: block;
	padding: 0 12px;
	line-height: 12px;
	border-right: 1px solid white;
	font-size: 12px;
	text-decoration: none;
	letter-spacing: -0.2px;
	color: white;
}

footer li:last-child a {
	border: none;
}

footer li a:hover {
	color: #52abcb;
}

footer .copy {
	text-align: center;
	margin-top: 16px;
	font-size: 10px;
	color: #7f4740;
}